@import "node_modules/stylus-px2rem";
@import 'node_modules/nib';

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td
  margin 0;
  padding 0;

html
  font-family PingFangSC-Regular;

body
  background #f4f4f4;

table
  border-collapse collapse;
  border-spacing 0;

fieldset, img
  border 0 none;

address, caption, cite, code, dfn, em, strong, th, var
  font-style normal;
  font-weight normal;

strong
  font-weight 800;

ol, ul, li
  list-style none outside none;

caption, th
  text-align left;

h1, h2, h3, h4, h5, h6
  font-size 100%;
  font-weight normal;

.container
  position fixed;
  width 100%;
  height 100%;
  background: linear-gradient(red, #fff);
  .mainInfo
    display flex;
    flex-direction row;
    position relative;
    .pic
     width 100%;
     height 150px;
  .baseInfo
    top 28px;
    position absolute;
    width 100%;
    flex-direction row;
    justify-content center;
    .title
      color #fff;
      font-weight 600;
      font-size 14px;
      width 100%;
      text-align center;
      margin-top 6px;
    .hr
      width 100px;
      height 2px;
      background-color #fff;
      display block;
      margin 6px auto 0;
    .tips
      color #fff;
      font-weight 600;
      font-size 14px;
      width 100%;
      text-align center;
      margin-top 2px;
    .time
      color #fff;
      font-weight 600;
      font-size 14px;
      width 100%;
      text-align center;
      margin-top 2px;
  .address
    color #fff;
    font-weight 600;
    font-size 12px;
    position absolute;
    //width 100%;
    bottom 4px;
    left 6px;
    display flex;
    flex-direction row;
    align-content center;
    .addressIcon
      width 17px;
      height 17px;
  .detailInfo
    .panel
      display flex;
      flex-direction row;
      align-content center;
      justify-content flex-end;
      height 30px;
      border-bottom 1px solid #c2c2c2;
      .joinBtn
        font-size 12px;
        padding 6px 6px;
        background-color #b2b2b2;
        border-top-left-radius:10px;
        border-top-right-radius:0;
        border-bottom-right-radius:0;
        border-bottom-left-radius:10px;
        display flex;
        flex-direction row;
        justify-content center;
        align-content center;
      .endBtn
        font-size 12px;
        line-height 36px;
    .desc
      padding 0 6px 16px;
      border-bottom 1px solid #c2c2c2;
      .descTitle
        font-size 12px;
      .content
        font-size 12px;
        color:#fa5000;
    .itemList
      margin-top 16px;
      padding 0 6px 16px;
      display flex;
      .item
        display flex;
        flex-direction row;
        width 40%;
      .itemTitle
        width 40%;
      .haveItem
        display flex;
        width 50%
        flex-direction row;
      .needItem
        display flex;
        width 50%;
        flex-direction row;
   .memberItem
     display flex;
     flex-direction row;
    .userImg
      width 50px;
      height 50px;
      border-radius 50%;



